.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.paper {
    background-color: white;
    border-radius: .5rem;
    width: 100%;
    padding: 1.75rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);

    .paper__titlewrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .paper__title {
            font-size: 1.5rem;
            font-weight: 500;
            color: $dark-gray;
        }

        .paper__action {
            display: flex;
            gap: 1rem;
        }
    }

    .paper__bodywrapper {
        display: flex;
        column-gap: 1.5rem;
        align-items: center;
    }
}

.separator {
    height: 1px;
    color: rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-block: 1.25rem;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem .85rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: all 0.1s cubic-bezier(0.4, 2.25, 0.75, 1.25);
    cursor: pointer;
    text-decoration: none;

    svg {
        height: 24px;
        width: 24px;
    }

    &:focus {
        outline: none;
    }
}

.btn-primary {
    background-color: $primary;
    color: #ffffff;
    border: 1px solid transparent;
  
    &:hover {
        background-color: $primary-darker;
    }
  
    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px $primary-darker, 0 0 0 6px rgba(16, 56, 46, 0.5);
    }
}

.btn-secondary {
    color: $primary-darker;
    background-color: whitesmoke;
    border: 1px solid transparent;
  
    &:hover {
        background-color: aliceblue;
    }
  
    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px $primary-darker, 0 0 0 6px rgba(16, 56, 46, 0.5);
    }
}

.date-picker {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem .85rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.4, 2.25, 0.75, 1.25);
    cursor: pointer;
    text-decoration: none;
    color: $dark-gray;

    svg {
        height: 24px;
        width: 24px;
    }

    &:focus {
        outline: none;
    }
}

.select-option {
    width: 320px;
    flex-shrink: 0;

    .select-option__checkbox_option {
        display: flex;
        gap: .5rem;
    }
}

.select-option_sm {
    width: 128px;
    flex-shrink: 0;

    .select-option__checkbox_option {
        display: flex;
        gap: .5rem;
    }
}